<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gin</title>
</head>
<body>
    <p>hello {{.}}</p>
    <p>name {{.u1.Name}}</p>
    <p>age {{.m1.Age}}</p>
    <p>gender {{.u1.Gender}}</p>
</body>
{{$v1 := 100}}
{{if $v1}}
{{$v1}}
{{else}}
wu
{{end}}
<hr>
{{range $idx,$hobby := .hobby}}
<p>{{$idx}} - {{$hobby}}</p>
{{end}}
</hr>
</html>